.banner {
  display: flex;
  justify-content: center;
  height: 100px;
  background: red;
}
.banner--transparent{
  background-color: transparent;
}
.banner__content{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 700px;
}

.banner_left{
  display: left;
}
.banner_right{
  text-align: right;
  display: right;

}
