.banner {
  display: flex;
  justify-content: center;
  height: 100px;
  background: #222222;
  color: #99BBDD;

}
.banner--transparent{
  background-color: transparent;
}
.banner__content{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 700px;
}

.banner_left{
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  font-size: 200%;
  display: left;
}
.banner_right{
  text-align: right;
  display: right;

}
